*{
	font-family: 'Montserrat', sans-serif;
}

.board{
	display: block;
	margin: 0 auto;
	width: 405px;
	border: 5px solid #173e43;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #3fb0ac;
	border-radius: 5px;
}

body{
	background: #f1f2d9;
}

h1{
	font-size: 46px;
	margin: 20px 0;
	color: #173e43;
	font-family: 'Bitter', serif;
}


.border-bottom{
	border-bottom: 5px solid #173e43;
}

.border-right{
	border-right: 5px solid #173e43;
}

.pointer{
	cursor: pointer;
}

.col-xs-4{
	height: 100%;
	padding: 40px 0 0 0;
	background: #dddfd4;
}

.row{
	margin: 0;
	height:133px;
}

.tile{
	width: 50px;
}

.purpleText{
	color: #7e3562;
}


/* Modals
===================================*/
#avatarChoice .modal-dialog{
	margin-top: 90px;
}

#avatarChoice .modal-body{
	color: #3fb0ac;
	font-size: 55px;
	height: 130px;
}

.winner .modal-dialog{
	margin-top: 150px;
	color: #3fb0ac ;
}

.winner .modal-body {
    position: relative;
    padding-top: 50px;
    height: 150px;
    font-size: 32px;
}


/* Media Queries
===================================*/
@media only screen and (max-width: 435px) {	

	.board{
		width: 250px;
	}

	.row{
		height: 82px;
	}

	.board{
		border: 3px solid #173e43;
		font-size: 28px;
	}

	.border-bottom{
		border-bottom: 3px solid #173e43;
	}

	.border-right{
		border-right: 3px solid #173e43;
	}

	.col-xs-4{
		padding: 20px 0 0 0;
	}

	.winner .modal-dialog{
		margin-top: 120px;
	}

	.winner .modal-body {
    	padding-top: 55px;
    	font-size: 26px;
    }

}
